<nav class="navbar navbar-expand-lg navbar-light sticky-top nav" id="nav">
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link mx-3 align-self-center navbar-item" href="#my-work">My Work</a>
      <a class="nav-item nav-link mx-3 align-self-center navbar-item" href="#about-me">About</a>
      <%= link_to "Lucas", root_path, class: "nav-item nav-link mx-3 navbar-item", id: "name" %>
      <a class="nav-item nav-link mx-3 align-self-center navbar-item" href="#skills">Skills</a>
      <a class="nav-item nav-link mx-3 align-self-center navbar-item" href="#contact">Contact</a>
    </div>
  </div>
</nav>

<div class="container" style="padding-top: 200px;" id="my-work">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <div class="col-12 col-md-6 my-3">
            <%= link_to "https://randomealapp.herokuapp.com/", target: "_blank", class: "portifolio-card hvr-ripple-out hvr-bob" do %>
              <div class="card">
                <div class="d-flex justify-content-center">
                  <img class="card-img work-img" src="https://res.cloudinary.com/dtjyx4v7z/image/upload/v1586286469/randomeal_iphone_hqcw2y.png" alt="Randomeal website screenshot">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Randomeal</h5>
                  <p class="card-text">Randomeal is a mobile first app built in ruby in rails, that searches the internet just to find the perfect restaurat for you! Features a unique reverse filter and a Real-Time Data Scraping!</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <div class="col-12 col-md-6 my-3">
            <%= link_to "https://rioserve.herokuapp.com/", target: "_blank", class: "portifolio-card hvr-ripple-out  hvr-bob" do %>
              <div class="card">
                <div class="d-flex justify-content-center">
                  <%= image_tag("rioserve.png", class: "card-img p-2") %>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Rioserve</h5>
                  <p class="card-text">Rioserve is a restaurant reservation platform for Rio de Janeiro. It let's you, as a restaurant owner, register your restaurant for all the users to see and make some reservations!</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <p style="font-weight: 999; font-size: 32px;"> < </p>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <p style="font-weight: 999; font-size: 32px;"> > </p>
    </a>
  </div>

  <!-- About me -->

  <div class="section" id="about-me">
    <h2 style="padding-bottom: 0px;">About Me</h2>
    <hr>
    <div class="row">
      <div class="col-12 col-md-4">
        <p>I’m a TI student at the Federal University of the State of Rio de Janeiro. Still, at high school, I discovered my passion for programming, and, since then, I've been pushing my limits to learn more every day. Graduated from Le Wagon, the best-rated coding Bootcamp worldwide, I find myself eager to pursue the work of a developer, always open to new challenges as a way to improve my background.</p>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <%= image_tag("euPNG.png", width: '350') %>
      </div>
      <div class="col-12 col-md-4">
        <p>As a coder, I look for contributing to my community by turning the codes into tools that will positively add up to everyone’s life quality. I’m a team worker and I evolve under pressure, having hard work and commitment as my principals.</p>
        <a class="btn contact-btn" href="#contact">Contact Me!</a>
      </div>
    </div>
  </div>

  <!-- Skills -->

  <div class="section" id="skills">
    <h2 class="d-flex justify-content-around my-5">My Skills</h2>
    <div class="cards">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Ruby on Rails</h5>
            <%= image_tag("ruby_on_rails.svg", class: "ruby-svg") %>
          </div>
          <p class="card-text mt-3">A web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC).</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Ruby</h5>
            <i class="far fa-gem icon-skills icon-skills text-danger"></i>
          </div>
          <p class="card-text mt-3">A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">WordPress</h5>
            <i class="fab fa-wordpress-simple icon-skills" style="color: #207297;"></i>
          </div>
          <p class="card-text mt-3">WordPress is a free and open-source content management system (CMS) written in PHP and paired with a MySQL or MariaDB database.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">HTML</h5>
            <i class="fab fa-html5 icon-skills text-danger"></i>
          </div>
          <p class="card-text mt-3">Hypertext Markup Language (HTML) is the standard markup language for documents designed to be displayed in a web browser.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">CSS</h5>
            <i class="fab fa-css3-alt icon-skills text-primary"></i>
          </div>
          <p class="card-text mt-3">Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">JavaScript</h5>
            <i class="fab fa-js-square icon-skills" style="color: #F2D53B;"></i>
          </div>
          <p class="card-text mt-3">JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JS is high-level, often just-in-time compiled, and multi-paradigm.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Git</h5>
            <i class="fas fa-code-branch icon-skills text-danger"></i>
          </div>
          <p class="card-text mt-3">Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">GitHub</h5>
            <i class="fab fa-github-alt icon-skills"></i>
          </div>
          <p class="card-text mt-3">GitHub brings together the world's largest community of developers to discover, share, and build better software. It  provides hosting for software development version control using Git</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Databases</h5>
            <i class="fas fa-database icon-skills" style="color: #4186C2;"></i>
          </div>
          <p class="card-text mt-3">A database is an organized collection of data, generally stored and accessed electronically from a computer system.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->

  <div class="section" id="contact">
    <h2 class="d-flex justify-content-around">Contact Me!</h2>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center pb-5">Let's Collaborate</h5>
            <div class="row">
              <div class="col-12 col-md-6 text-center">
                <p><i class="fab fa-whatsapp pr-2"></i>+55 21 981796215</p>
              </div>
              <div class="col-12 col-md-6 text-center">
                <p><i class="far fa-envelope pr-2"></i>lucasdinizcunha@uol.com.br</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
    <p class="text-center">This page was made with <i class="far fa-heart"></i> by Lucas Diniz Cunha</p>
</footer>
