<nav class="navbar navbar-expand-lg sticky-top" id="nav">
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link mx-3 align-self-center navbar-item" href="#skills">Skills</a>
      <a class="nav-item nav-link mx-3 align-self-center navbar-item" href="#about-me">About</a>
      <%= link_to "Lucas", root_path, class: "nav-item nav-link mx-3 navbar-item", id: "name" %>
      <a class="nav-item nav-link mx-3 align-self-center navbar-item" href="#my-work">My Work</a>
      <a class="nav-item nav-link mx-3 align-self-center navbar-item" href="#contact">Contact</a>
    </div>
  </div>
</nav>

<div class="d-flex" style="background-color: rgb(245,245,245)">
  <div class="container align-self-center banner">
    <h1>I'm Lucas Cunha</h1>
    <p>Your Fullstack Web Developer.</p>
    <a class="btn contact-btn" href="#">Let's Chat!</a>
  </div>
  <%= image_tag("euPNG.png", class: "img") %>
</div>

<div class="container">

  <!-- Skills -->

  <div class="section" id="skills">
    <h2 class="d-flex justify-content-around my-5">My Skills</h2>
    <div class="cards">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ruby on Rails</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ruby</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">WordPress</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HTML</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CSS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">JavaScript</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Git</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">GitHub</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Databases</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- About me -->

  <div class="section" id="about-me">
    <h2 style="padding-bottom: 0px;">About Me</h2>
    <hr>
    <div class="row">
      <div class="col-12 col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cum excepturi impedit doloribus quos minus non veritatis voluptate eum nulla blanditiis sapiente vitae, numquam fugit aperiam, fugiat placeat minima! Natus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cum excepturi impedit doloribus quos minus non veritatis voluptate eum nulla blanditiis sapiente vitae, numquam fugit aperiam, fugiat placeat minima! Natus.</p>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <%= image_tag("euPNG.png", width: '350') %>
      </div>
      <div class="col-12 col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cum excepturi impedit doloribus quos minus non veritatis voluptate eum nulla blanditiis sapiente vitae, numquam fugit aperiam, fugiat placeat minima! Natus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cum excepturi impedit doloribus quos minus non veritatis voluptate eum nulla blanditiis sapiente vitae, numquam fugit aperiam, fugiat placeat minima! Natus.</p>
        <a class="btn contact-btn" href="#">Contact Me!</a>
      </div>
    </div>
  </div>

  <!-- Portifolio -->

  <div class="section" id="my-work">
    <h2 class="d-flex justify-content-around my-5">My Work</h2>

    <!-- Row -->

    <div class="row">
      <div class="col-12 col-md-6">
        <%= link_to "https://rioserve.herokuapp.com/", target: "_blank", class: "portifolio-card hvr-ripple-out hvr-bob" do %>
          <div class="card">
            <div class="d-flex justify-content-center">
              <img class="card-img-top work-img" src="https://res.cloudinary.com/dtjyx4v7z/image/upload/v1586286469/randomeal_iphone_hqcw2y.png" alt="Randomeal website screenshot">
            </div>
            <div class="card-body">
              <h5 class="card-title">Randomeal</h5>
              <p class="card-text">Randomeal is a mobile first app built in ruby in rails, that searches the internet just to find the perfect restaurat for you! Features a unique reverse filter and a Real-Time Data Scraping!</p>
            </div>
          </div>
          <% end %>
      </div>

      <div class="col-12 col-md-6">
        <%= link_to "https://rioserve.herokuapp.com/", target: "_blank", class: "portifolio-card hvr-ripple-out  hvr-bob" do %>
          <div class="card">
            <div class="d-flex justify-content-center">
              <%= image_tag("rioserve.png", class: "card-img-top p-3") %>
            </div>
            <div class="card-body">
              <h5 class="card-title">Rioserve</h5>
              <p class="card-text">Rioserve is a restaurant reservation platform for Rio de Janeiro. It let's you, as a restaurant owner, register your restaurant for all the users to see and make some reservations!</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Row End -->

  </div>

  <!-- Contact -->

  <div class="section" id="contact">
    <h2 class="d-flex justify-content-around">Contact Me!</h2>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center pb-5">Let's Collaborate</h5>
            <ul class=" d-flex justify-content-around padding-0">
              <li class="contact-text">
                <i class="fab fa-whatsapp text-decoration-none"></i><p class="d-inline ml-3">+55 21 981796215</p>
              </li>
              <li class="contact-text">
                <i class="far fa-envelope"></i><p class="d-inline ml-3">lucasdinizcunha@uol.com.br</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
